
        body {
            width: 80%;
            background-color: #f0f0f0;
            padding: 100px;
            float: inline-end;
            box-sizing: border-box;
        }

        .jacquard-12-regular {
            font-family: "Jacquard 12", system-ui;
            font-weight: 400;
            font-style: normal;
          }
          

        table {
            background-color: blueviolet;
            color: #f0f0f0;
            padding: 10px;
        }
        button {
            background-color: rgb(41, 101, 158);
        }

        h2, ul {
            margin: 0;
        }
        .deneme-1 {
            padding: 10px;
            margin: 10px;
            background-color: aquamarine;
            width: 80%;
            font-style: italic;
        }
        .mp4 {
            font-style: italic;
            padding: 30;
        }
        .container {
            background-color: aliceblue;
            padding: 50px;
            color: blueviolet;
            width: 80%;
        }
        .header { 
            font-style: italic;
            color: black;
        }
        .sidebar {
            color: aqua;
        }